#pycache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

#config files
.env
data/
logfiles/
*.log
src/test.py

#git
README.md
.git
.gitignore

# virtual environment
.venv
venv/
env/
.env.local

#poetry
poetry.toml

#ide
.idea/
