LATITUDE=52.52
LONGITUDE=13.41
BASE_URL=https://api.open-meteo.com/v1/forecast

OUTPUT_FORMAT=csv

START_DATE=2026-03-20
END_DATE=2026-03-27

HOURLY=temperature_2m,relative_humidity_2m,rain,wind_speed_10m
TIMEZONE=UTC
